<!
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
</head>
<body>
<h1>All Users</h1>
<div style="margin: 10px; font-weight: bold" th:each="user : ${users}">
  <span th:text="${user.email}"></span> &nbsp;
  <span th:text="${user.firstname}"></span> &nbsp;
  <span th:text="${user.lastname}"></span> &nbsp;
  <a th:href="@{/user/{id}(id =${user.id})}"> Go to user page </a>
</div>
<!--<form action="/user/update" method="post">-->
<!--  <input type="submit">-->
<!--</form>-->
</body>
</html>